
/* LAYOUT */

.container {
  margin: 0 auto;
  width: 100%;
}
.example,
.is-centered {
  text-align: center;
}

/* MODULES */

.episodes {
  margin: 0;
  padding: 0;
}

.episode {
  padding: .3em;
}

/* RESPONSIVE */

@media screen and (min-width: 20.000em) {
  /*320px*/

  body {
    font-size: 107%;
  }
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 37.438em) {
  /*599px*/

  .container {
    text-align: center;
  }
}
@media screen and (min-width: 37.500em) {
  /*600px*/

  body {
    font-size: 112.5%;
    line-height: 1.6789;
  }
  .container {
    width: 70.5%;
    text-align: left;
  }
}
@media screen and (min-width: 50.000em) {
  /*800px*/

  body {
    font-size: 125.0%;
    line-height: 1.56789;
  }
  .container {
    width: 58.5%;
  }
}
@media screen and (min-width: 64.375em) {
  /*1030px*/

  body {
    font-size: 147.5%;
    line-height: 1.456789;
  }
  .container {
    width: 51.7%;
  }
}
@media screen and (min-width: 75.000em) and (min-height: 31.250em) {
  /*1200px X 500px*/

  body {
    font-size: 170%;
    line-height: 1.3456789;
  }
  .container {
    width: 47%;
  }
}
